<form name="login">
<div><label for="login_id">Login ID</label><input type="text" name="login_id" id="login_id"></div>
<div><label for="password">Password</label><input type="password" name="password" id="password"></div>
<div><input type="button" value="Submit" onclick="binary_login.send()"></div>
</form>

<script>
binary_login = {
    
    send : function() {
        binary.api.connect({ resource:'/login', form:document.forms['login'], onCompletion:function(o) {
            alert(JSON.stringify(o));
            
            // set the session if ok and reload home view
            
            // otherwise fire error
            
            
        }});
    }
}
</script>