@mixin objselected {
    background:#252d5f;
    color:#fff;
    :hover { background:#252d5f; }
}

@mixin pageheader {
    height:13%;
    margin:1% 0 4% 0;
    width:100%;
    position:relative;
    >.back {
        height:100%;
        margin:0;
        width:12%;
        background: url("back.svg") no-repeat 0 50%;
        background-size:70%;
        position:absolute; top:20%; left:5%; z-index:99999999;
        &:hover {
            cursor:pointer;
            -webkit-animation: pulse 1s linear infinite;
            -moz-animation: pulse 1s linear infinite;
            -ms-animation: pulse 1s linear infinite;
            -o-animation: pulse 1s linear infinite;
            animation: pulse 1s linear infinite;
        }
    }
    >.logo {
        height:100%; width:50%;
        background: url("logo.svg") no-repeat 0 50%;
        background-size:75%;
        z-index:99999999;
        position:absolute; top:20%; left:17%;
        margin:0; padding:0; border:0;
    }
 
    >.title {
        background-position: 100% 50%;
        background-size:40px;
        background-repeat:no-repeat;
        z-index:99999999;
        position:absolute; top:15%; right:2%;
        color:#000; font-size:160%;
        font-weight:bold; padding:0 50px 0 0;
    }
    
    @media screen and (max-width: 500px) {
        >.logo { display:none; }
    }
    
    @media screen and (max-aspect-ratio: 1/1) {
        >.title { right:2% }
        >.back {
            top:5%; left:5%;
            background-size:100%;
            
        }
    }

}

@mixin pagemenu {
    
    height:100%;
    margin-left:3%;

    >div {
        width:22%;
        height:22%;
        float:left;
        padding:5%;
        border:0;
        
        .wrapper {
            &:hover { cursor:pointer; background-color:#f7f7f7;  }
            width:100%; height:100%;
            margin:0;
            border: 2px solid #E9E9E9;
            border-top-width:1px;
            border-radius:20px;
            text-align:center;
            font-size:130%;
            padding:10px 0 5px 0;
            background-repeat: no-repeat;
            box-shadow: -0px 10px 20px #EEEEEE;
        }
        
        .disabled {
            &:hover { cursor:inherit; background-color:#fff; }
            opacity:0.5;
        }
    }
    
    @media screen and (max-width: 600px) {
        >div {
            .wrapper {
                font-size:130%;
                border-radius:10px;
            }
        }
    }
    
    @media screen and (max-aspect-ratio: 4/5) {
        margin-left:5%;
        >div { width:32%; height:16%; margin:3%; }
    } 
    
}