* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@-webkit-keyframes pulse {
0% { -webkit-transform: scale(1); opacity:0.2 }
50% {-webkit-transform: scale(1.1); opacity:1; }
100% { -webkit-transform: scale(1); opacity:0.2  }
}
@-moz-keyframes pulse {
0% { -moz-transform: scale(1); opacity:0.2 }	
50% { -moz-transform: scale(1.1); opacity:1; }
100% { -moz-transform: scale(1); opacity:0.2 }
}
@-o-keyframes pulse {
0% { -o-transform: scale(1); opacity:0.2 }	
50% { -o-transform: scale(1.1); opacity:1; }
100% { -o-transform: scale(1); opacity:0.2 }
}
@keyframes pulse {
0% { transform: scale(1); opacity:0.2 }	
50% { transform: scale(1.1); opacity:1; }
100% { transform: scale(1); opacity:0.2 }
}

@-webkit-keyframes swipeLeft {
0% { opacity: 0; -webkit-transform: translateX(-100%); }
100% { -webkit-transform: translateX(0); }
}

@-webkit-keyframes swipeDown {
0% { opacity: 0; -webkit-transform: translateY(-100%); }
100% { -webkit-transform: translateY(0); }
}

@-moz-keyframes swipeDown {
0% { opacity: 0; -moz-transform: translateY(-100%); }
100% { -moz-transform: translateY(0); }
}

@-o-keyframes swipeDown {
0% { opacity: 0; -o-transform: translateY(-100%); }
100% { -o-transform: translateY(0); }
}

@keyframes swipeDown {
0% { opacity: 0; transform: translateY(-100%); }
100% { transform: translateY(0); }
}

/* default loading animation */
@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); opacity: 0.2; }
50% { -webkit-transform: rotate(180deg); opacity: 1; }
to { -webkit-transform: rotate(360deg); opacity: 0.2; }
}

@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); opacity: 0.2; }
50% { -moz-transform: rotate(180deg); opacity: 1; }
to { -moz-transform: rotate(360deg); opacity: 0.2; }
}

@-ms-keyframes spin {
from { -ms-transform: rotate(0deg); opacity: 0.2; }
50% { -ms-transform: rotate(180deg); opacity: 1; }
to { -ms-transform: rotate(360deg); opacity: 0.2; }
}

@-o-keyframes spin {
from { -o-transform: rotate(0deg); opacity: 0.2; }
50% { -o-transform: rotate(180deg); opacity: 1; }
to { -o-transform: rotate(360deg); opacity: 0.2; }
}

@keyframes spin {
from { transform: rotate(0deg); opacity: 0.2; }
50% { transform: rotate(180deg); opacity: 1; }
to { transform: rotate(360deg); opacity: 0.2; }
}

div { padding:0; margin:0; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#2a3052;
    font-family:arial, helvetica, sans-serif;
    text-rendering: optimizelegibility;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
    text-transform:uppercase;
    width:100%;
    
    .effect_into {
        -webkit-animation: swipeDown 0.3s linear 1;
        -moz-animation: swipeDown 0.3s linear 1;
        -ms-animation: swipeDown 0.3s linear 1;
        -o-animation: swipeDown 0.3s linear 1;
        animation: swipeDown 0.3s linear 1;
    }
    
    .effect_back {
        -webkit-animation: swipeLeft 0.3s linear 1;
        -moz-animation: swipeLeft 0.3s linear 1;
        -ms-animation: swipeLeft 0.3s linear 1;
        -o-animation: swipeLeft 0.3s linear 1;
        animation: swipeLeft 0.3s linear 1;
    }
    
    .loading {
        position:absolute; z-index:99;
        width: 8px; height: 8px; border: 8px solid #FFF;
        border-right-color: transparent; border-radius: 50%;
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        -ms-animation: spin 1s linear infinite;
        -o-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

    >.wrapper {
        
        >div {
            visibility:hidden; z-index:-1;
            position:absolute;
            left:0;
            right:0;
            height:100%;
            width:100%;
            background-color:#2a3052;
        }
        
        >.main {
            
            position:fixed;
            
            >.wrapper {
                
                position:relative;
                height:100%;
                margin:0; padding:0; border:0;
                
                >.logo {
                    height:20%;
                    background: url("../img/logo.svg") no-repeat;
                    background-size:80% 80%;
                    background-position:50% 100%;
                    margin:0; padding:0; border:0;
                }
                
                >.menu {
                    height:71%;
                    margin:0 5% 0 5%;

                    div {
                        width:40%;
                        height:28%;
                        float:left;
                        margin:5%;
                        padding:0;
                        border:0;
                        &:hover { cursor:pointer; opacity:0.8 }
                        .wrapper {
                            width:100%; height:100%;
                            margin:0;
                            border: 2px solid #FAFAFA;
                            box-shadow: 0 0 30px #333333;
                            border-radius:20px;
                        }
                    }
                    
                    .trade {
                        .wrapper {
                            background: url("../img/main/trade.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .charts {
                        .wrapper {
                            background: url("../img/main/charts.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .portfolio {
                        .wrapper {
                            background: url("../img/main/portfolio.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .support {
                        .wrapper {
                            background: url("../img/main/support.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .news {
                        .wrapper {
                            background: url("../img/main/news.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .exit {
                        .wrapper {
                            background: url("../img/main/exit.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    
                }
                
                @media screen and (min-aspect-ratio: 1/1) {
                    >.logo { margin:1% 0 1% 0; }
                    >.menu {
                        div { width:23%; }
                    }
                } 
                
            }
            
        }
            
        >.support {
            
            height:100%;
            position:fixed;
        
            .wrapper {

                margin:0; padding:0; border:0;
                color:white;
                height:100%;
                
                .menu {
                    height:90%;
                    padding:5%;
                    div {
                        width:40%;
                        height:28%;
                        float:left;
                        margin:5%;
                        padding:0;
                        border:0;
                        
                        &:hover { cursor:pointer; opacity:0.8 }
                        .wrapper {
                            width:100%; height:100%;
                            margin:0;
                            border: 2px solid #FAFAFA;
                            box-shadow: 0 0 30px #333333;
                            border-radius:20px;
                        }
                    }
                    .back {
                        .wrapper {
                            background: url("../img/support/back.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .faq {
                        .wrapper {
                            background: url("../img/support/faq.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .email {
                        .wrapper {
                            background: url("../img/support/email.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .chat {
                        .wrapper {
                            background: url("../img/support/chat.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .phone {
                        .wrapper {
                            background: url("../img/support/phone.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                    .callback {
                        .wrapper {
                            background: url("../img/support/callback.svg") #ea8125 no-repeat 50% 50%;
                            background-size:90% 90%;
                        }
                    }
                }
                
                @media screen and (min-aspect-ratio: 1/1) {
                    >.menu {
                        div { width:23%; }
                    }
                }
            }
        }
            
        
        >.connecting {
            position:fixed;
            left:0;
            right:0;
            height:100%;
            width:100%;
            text-align:center;
            >.wrapper {
                position:relative;
                height:100%;
                .logo {
                    height:20%;
                    background: url("../img/logo.svg") no-repeat;
                    background-size:80% 80%;
                    background-position:50% 100%;
                }
                .status {
                    >.wrapper {
                        position:absolute;
                        left:35%;
                        bottom:30%;
                        width:30%;
                       .error {
                            height:100%;width:100%;position:absolute;
                            background: url("../img/connecting/error.svg") no-repeat;
                            background-size: 70% 70%;
                            background-position: 50% 50%;
                            -webkit-animation: pulse 1s linear infinite;
                            -moz-animation: pulse 1s linear infinite;
                            -ms-animation: pulse 1s linear infinite;
                            -o-animation: pulse 1s linear infinite;
                            animation: pulse 1s linear infinite;
                            opacity:0.9;
                            display:none;
                        }

                        .stage1, .stage2, .init {
                            position:absolute; z-index:99;
                            width: 8px; height: 8px; border: 8px solid #fff;
                            border-right-color: transparent; border-radius: 50%;
                            -webkit-animation: spin 1s linear infinite;
                            -moz-animation: spin 1s linear infinite;
                            -ms-animation: spin 1s linear infinite;
                            -o-animation: spin 1s linear infinite;
                            animation: spin 1s linear infinite;
                            width:100%; height:0; padding-bottom:100%; position:relative; border-width:25px; margin-left:-25px;
                            display:none;
                        }
                    }
                }
                @media screen and (min-aspect-ratio: 1/1) {
                    >.logo { margin:1% 0 1% 0; }
                    >.status {
                        >.wrapper { width:20%; left:40%; }
                    }
                } 
            }
        }
    }
    
}

