<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>binarycom</name>
    <description>
         Binary.com's Official Mobile App, for iOS, Android and Windows Mobile.
    </description>
    <author email="mobile@binary.com" href="http://www.binary.com">
        Binary.com
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="orienation" value="default" />
</widget>
